############################################################
# GIT
############################################################

.git
.gitignore

############################################################
# NODE / FRONTEND
############################################################

node_modules
dist
build
coverage
.nyc_output
.vite
.turbo
.next
.nuxt

############################################################
# .NET
############################################################

bin
obj
TestResults
artifacts

############################################################
# LOGS
############################################################

logs
*.log

############################################################
# ENV / SECRETOS
############################################################

.env
.env.*
*.pfx
*.snk
secrets.json

############################################################
# IDE / TOOLING
############################################################

.vscode
.vs
.idea

############################################################
# TESTING / COVERAGE
############################################################

coverage
*.coverage
*.coveragexml
*.trx

############################################################
# DOCKER / DEV FILES
############################################################

docker-compose*
docker-data
docker-volumes

############################################################
# OTROS
############################################################

*.mdf
*.ldf
*.bak

.DS_Store
Thumbs.db
